{% extends "layout.html" %}
{% block content %}
	<div class="content-section">
		<form method="POST" action="">
			{{ form.hidden_tag() }}
			<fieldset class="form-group">
				<div class="form-group">
					{{ form.milk_type.label(class="form-control-label") }}
					{% if form.milk_type.errors %}
						{{ form.milk_type(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.milk_type.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.milk_type(class="form-control form-control-lg") }}
					{% endif %}
				</div>
				<div class="form-group">
					{{ form.comments.label(class="form-control-label") }}
					{% if form.comments.errors %}
						{{ form.comments(class="form-control form-control-lg is-invalid") }}
						<div class="invalid-feedback">
							{% for error in form.comments.errors %}
								<span>{{ error }}</span>
							{% endfor %}
						</div>
					{% else %}
						{{ form.comments(class="form-control form-control-lg") }}
					{% endif %}
				</div>
			</fieldset>
			<div class="form-group">
				{{ form.enter_milk(class="btn btn-outline-info") }}
			</div>
		</form>
	</div>
{% endblock content %}
